#logo{
	border:2px solid white;
	box-shadow: 0px 0px 5px grey;
	border-radius: 50%;
	padding:3px;
}

.top-nav{

	box-shadow: 0px 5px 10px;
}

.top-menu .nav-link.active{
	background-color: white;
	box-shadow: 0px 0px 5px grey;
	border-bottom: 3px solid black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.imgpng{

	width:100%;
	margin-top:-20px;
	overflow: hidden;
}

#code{

	width: 50px;
	height: 50px;
	background-color:white;
	border:2px solid gray;
	padding: 7px;
	font-size: 30px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px;
	margin-top: 40px;
}

.imgca{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:2px solid gray;
	box-shadow: 0px 0px 5px;
	padding:3px;
	margin-top: 20px;
}

.imgcb{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:2px solid gray;
	box-shadow: 0px 0px 5px;
	padding:3px;
	margin-top: 20px;
}

.imgcc{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:2px solid gray;
	box-shadow: 0px 0px 5px;
	padding:3px;
	margin-top: 20px;
}

.client-icon{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	padding: 10px;
	border:1px solid black;
}

#name{

	width: 90%;
}

#phone{

	width: 90%;
}

#email{

	width: 90%;
}

.custom-file-label::after {
  

    background-color:blue;
    color: white;
    cursor: pointer;
}